* {
  box-sizing: border-box;
}

body, textarea  {
  color: #262626;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.action-button {
  color: #0095f6;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.small {
  font-weight: normal;
  line-height: 15px;
  font-size: 12px;
}

.bold {
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.padding {
  padding-left: 16px;
  padding-right: 16px;
}

.m-l-a {
  margin-left: auto;
}

.App {
  max-width: 614px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
